/* carousel detail */

.carousel-indicators {
  position: relative;
  display: none;
}

.centered-img {
  height: 350px;
  width: 100%;
  object-fit: contain;
}

.carousel-control-next {
  right: -60px;
}

.carousel-control-prev {
  left: -60px;
}

.carousel-control-next-icon {
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;

}

.carousel-control-next-icon::before {
  position: absolute;
  content: '';
  background-color: var(--secondary--color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: -1;
}

.carousel-control-prev-icon {
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.carousel-control-prev-icon::before {
  position: absolute;
  content: '';
  background-color: var(--secondary--color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: -1;
}


.carousel-control-prev-icon:active,
.carousel-control-next-icon:active{
  transform: scale(95%);
  opacity: 0.8;
}

/* carrousel miniature */

.miniature-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.miniature {
  border: 2px solid transparent;
  margin: 60px 20px;
  height: 56px;
  min-width: 56px;
  object-fit: contain;
  padding: 10px 8px;
  box-sizing: content-box;
  border-radius: 6px;
}

.miniature.active {
  border: 2px solid var(--secondary--color);
  transform: scale(90%);

}

/* details */

.quantity-box {
  width: 100%;
}

.flex {
  display: flex;
  margin-bottom: 20px;
  width: 60%;
  justify-content: space-between;
}

.value {
  border: 1px solid var(--tertiary--color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.buttonCart {
  border: 1px solid var(--tertiary--color);
  padding: 5%;
  background: none;
  height: 30px;
  line-height: 1.9;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAddCart {
  color: var(--primary--color);
  background-color: var(--secondary--color);
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 50px;
  padding: 15px;
  width: 100%;
  border-radius: 0;
  line-height: 1;
}

/* similarItems */

.similarItemsImg{
  height: 30vh;
  width: 100%;
  object-fit: contain;
  transition: opacity 1s ease ;
}

.similarItemsImg0:hover ~ .similarItemsImg1 {
  display: block;
  opacity: 1;
  transition: opacity 1s ease ;
}

.similarItemsImg0:hover{
  opacity: 0;
  position: absolute;
  left: 0;
  transition: opacity 1s ease;
}

.similarItemsImg1 {
  display: none;
  opacity: 0;
  transition: opacity 1s  ease;
}

